 <link rel="stylesheet" href="../css/perfil.css">
  <div class="container">

        <!-- Header -->
        <header>
            <nav class="header-nav">
                <a href="./feed.html">
                    <img id="logo-desktop" src="../images/DevConnect 2.svg" alt="Logo da DevConnect">
                </a>
                <a href="./feed.html">
                    <img id="logo-mobile" src="../images/DevCon.svg" alt="Logo da DevConnect">
                </a>
                <div class="cabecalho-acoes">
                    <a href="./feed.html">
                        <img src="../images/icone-casa-azul.svg" alt="Ícone casa">
                    </a>
                    <a href="#">
                        <img src="../images/icone-coracao-azul.svg" alt="Ícone coração">
                    </a>
                    <a href="#">
                        <img class="foto-perfil" src="../images/594bb65b8f1ca670e98793379f004400.jpg"
                            alt="Foto do perfil">
                    </a>
                </div>
            </nav>
        </header>

        <!-- Perfil -->
        <section class="profile">
            <img src="../images/594bb65b8f1ca670e98793379f004400.jpg" alt="Foto de Perfil" class="profile-pic">
            <div class="informacao-perfil">
                <h2>Sh.Milk_Shake</h2>
                <p>2 publicações • 1 seguindo • 1 b seguidores</p>
                <h3>Romário de Jesus</h3>
                <div class="buttons">
                    <button class="editar">Editar perfil</button>
                    <button class="sair">Sair</button>
                </div>
            </div>
        </section>

        <!-- Publicações -->
        <section id="publicacao">
            <header>
                <img src="../images/Table.svg" alt="Ícone de publicação">
                <p>Publicações</p>
            </header>
        </section>

        <!-- Comentários -->
        <section class="comentarios">
            <div class="comentario">
                <div class="perfil">
                    <img src="../images/594bb65b8f1ca670e98793379f004400.jpg" alt="Foto do perfil">
                    <span class="nome">Sh.Milk_Shake</span>
                </div>
                <div class="texto">Olá eu sou um copo jogador profissional de futebol.</div>
                <div class="interacoes">
                    <button><img src="../images/mdi_heart-outline.svg" alt="Curtida"></button>
                    <button><img src="../images/meteor-icons_comment (1).svg" alt="Comentar"></button>
                    <button><img src="../images/share (1).svg" alt="Compartilhar"></button>
                </div>
            </div>
        </section>

        <section class="comentarios">
            <div class="comentario">
                <div class="perfil">
                    <img src="../images/594bb65b8f1ca670e98793379f004400.jpg" alt="Foto do perfil">
                    <span class="nome">Sh.Milk_Shake</span>
                </div>
                <div class="texto">Estou à procura de amigos, alguém quer ser meu amigo???</div>
                <div class="interacoes">
                    <button><img src="../images/mdi_heart-outline.svg" alt="Curtida"></button>
                    <button><img src="../images/meteor-icons_comment (1).svg" alt="Comentar"></button>
                    <button><img src="../images/share (1).svg" alt="Compartilhar"></button>
                </div>
            </div>
        </section>

    </div>