@{
    ViewData["Title"] = "Primeiro APP";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">King Jumentinho</a>.</p>
</div>
