@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Nossa politica de privacidade e assim, assim e asado</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In illo, possimus, delectus, consequuntur saepe expedita asperiores sapiente tempore libero odio dignissimos quaerat perspiciatis ea vero harum iusto laudantium sequi quidem.</p>
