<h1>Pagina Quem Somos</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis voluptatem ut obcaecati deleniti, aperiam totam voluptatibus eum nam ipsum laboriosam omnis quo dolore rerum necessitatibus praesentium modi amet rem dolores?</p>

<a asp-asp-controller="Home" asp-action="index">Volta pra Home</a>