<link rel="stylesheet" href="../css/feed.css">
<body>
    <h1>Tela Feed - DevConnect</h1>
    <!-- Inicio Header -->
    <header id="cabecalho">
        <nav>
            <a asp-controller="Home" asp-action="Index">
                <img id="logo-desktop" src="../images/logo-devconnect-md.svg" alt="Logo do DevConnect">
            </a>
            <a asp-controller="Home" asp-action="Index">
                <img id="logo-mobile" src="../images/DevCon.svg" Logo do DevConnect>
            </a>

            <div class="cabecalho-acoes">
                <a asp-controller="Home" asp-action="Index">
                    <img src="../images/icone-casa-azul.svg" alt="">
                </a>
                <a href="#">
                    <img src="../images/icone-coracao-azul.svg" alt="">
                </a>
                <a href="#">
                    <img class="foto-perfil" src="../images/594bb65b8f1ca670e98793379f004400.jpg" alt="">
                </a>
            </div>
        </nav>
    </header>
    <!-- Fim Header -->

    <!-- Inicio Main -->
    <main>
        <div class="container-flex-publi">
            <section id="storys" class="estilo-formulario">
                <!-- card story -->
                <!-- card story -->
                <article class="card-story">
                    <a href="#">
                        <img src="../images/594bb65b8f1ca670e98793379f004400.jpg" alt="Foto de perfil">
                        <span>homem mal</span>
                    </a>
                </article>
                <article class="card-story">
                    <a href="#">
                        <img src="../images/594bb65b8f1ca670e98793379f004400.jpg" alt="Foto de perfil">
                        <span>fallen</span>
                    </a>
                </article>
                <article class="card-story">
                    <a href="#">
                        <img src="../images/594bb65b8f1ca670e98793379f004400.jpg" alt="Foto de perfil">
                        <span>donk</span>
                    </a>
                </article>
                <article class="card-story">
                    <a href="#">
                        <img src="../images/594bb65b8f1ca670e98793379f004400.jpg" alt="Foto de perfil">
                        <span>fallen</span>
                    </a>
                </article>
                <article class="card-story">
                    <a href="#">
                        <img src="../images/594bb65b8f1ca670e98793379f004400.jpg" alt="Foto de perfil">
                        <span>donk</span>
                    </a>
                </article>
                <article class="card-story">
                    <a href="#">
                        <img src="../images/594bb65b8f1ca670e98793379f004400.jpg" alt="Foto de perfil">
                        <span>fallen</span>
                    </a>
                </article>
                <article class="card-story">
                    <a href="#">
                        <img src="../images/594bb65b8f1ca670e98793379f004400.jpg" alt="Foto de perfil">
                        <span>donk</span>
                    </a>
                </article>
                <article class="card-story">
                    <a href="#">
                        <img src="../images/594bb65b8f1ca670e98793379f004400.jpg" alt="Foto de perfil">
                        <span>fallen</span>
                    </a>
                </article>
                <article class="card-story">
                    <a href="#">
                        <img src="../images/594bb65b8f1ca670e98793379f004400.jpg" alt="Foto de perfil">
                        <span>donk</span>
                    </a>
                </article>
                <article class="card-story">
                    <a href="#">
                        <img src="../images/594bb65b8f1ca670e98793379f004400.jpg" alt="Foto de perfil">
                        <span>fallen</span>
                    </a>
                </article>
                <article class="card-story">
                    <a href="#">
                        <img src="../images/594bb65b8f1ca670e98793379f004400.jpg" alt="Foto de perfil">
                        homem mal
                    </a>
                </article>


            </section>

            <!-- Inicio seção criar publicação -->
            <section id="cadastro-publi" class="estilo-formulario">
                <h2>Publicação</h2>

                <form action="">
                    <textarea name="" id="" placeholder="Digite a descrição do post..."></textarea>

                    <footer>


                        <div>
                            <label for="campo-upload" id="texto-upload">Faça upload da sua imagem aqui....</label>
                            <input type="file" name="" id="campo-upload">
                        </div>

                        <button type="submit" class="formulario-botao-azul">Postar</button>


                    </footer>
                </form>

            </section>

            <section id="publicacoes">
                <!-- Inicio card publicação -->
                <article class="card-publi">
                    <header>
                        <a href="#">
                            <img class="foto-perfil" src="/images/594bb65b8f1ca670e98793379f004400.jpg"
                                alt="Foto de perfil">
                            homem mal

                        </a>
                    </header>
                    <figure>
                        <img class="imagem-publicacao" src="../images/594bb65b8f1ca670e98793379f004400.jpg" alt="">
                        <figcaption class="descricao-publicacao">
                            sr.milk_shake
                            <p>um copo americano</p>
                        </figcaption>
                        <div class="interacoes-publicacao">
                            <button>
                                <img src="/images/icone-coracao-preto.svg" alt="">
                            </button>
                            <button>
                                <img src="/images/icone-comentario-preto.svg" alt="">
                            </button>
                            <span>1B curtidas </span>
                        </div>
                    </figure>
                    <button type="button">Ver mais comentarios..</button>
                </article>

                <!-- Fim card publicação-->
            </section>
        </div>
    </main>
    <!-- Fim Main -->

</body>

