  @model DevTorloni.Models.TbUsuario
  
  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/cadastro.css">

<script defe>
const  UsuarioNovoCadastrado = "@ViewBag.UsuarioNovoCadastrado" 
if(UsuarioNovoCadastrado == "Nao cadastrado"){
    alert("Usuario nao Cadastrado! Tente novamente Por Favor!!!")
}
</script>



  <h1 class="visually-hidden">Tela de Cadastro - DevConnect</h1>

    <main>
        <div>
            <!-- Formulário de Cadastro -->
            <form id="formulario" class="estilo-formulario" enctype="multipart/form-data" asp-action="Index" asp-controller="Usuario">

                <img src="../images/DevConnect.svg" alt=""> 

                <div>
                    <label for="">Nome e Sobrenome:</label>
                    <input type="text" asp-for="NomeCompleto" >
                </div>

                <div>
                    <label for="">Nome de Usuário:</label>
                     <input type="text" asp-for="NomeUsuario" >
                </div>

                <div>
                    <label for="">E-mail:</label>
                     <input type="text" asp-for="Email" >
                </div>

                <div>
                    <label for="">Senha:</label>
                     <input type="text" asp-for="Senha" >
                </div>

                <div>
                    <label for="file" class="btn-upload">Fazer upload da imagem</label>
                    <input type="file" id="arquivo" name="imagem">
                </div>

                <button type="submit" class="formulario-botao-azul">Cadastrar</button>
            </form>

            <!-- Seção de Redirecionamento -->
            <section id="secao-cadastro" class="estilo-formulario">
                <p>Já possui uma conta? <a href="../pages/index.html">Conectar-se</a></p>
            </section>
        </div>
    </main>