main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* CONTAINER */
.container-flex-publi {
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

/* STORYS */
#storys {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    overflow-x: scroll;


}

#storys::-webkit-scrollbar {
    width: 0;
}

.card-story>a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
}

.card-story>a>img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}

.card-story>a>span {
    color: var(--cor-cinza-escuro);
    font-size: var(--tamanho-fonte-sm);
    text-transform: lowercase;
}

/* CADASTRO PUBLICAÇÃO */
#cadastro-publi {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
}

#cadastro-publi>h2 {
    font-size: var(--tamanho-fonte-lg);
    color: var(--cor-cinza-escuro);
    font-weight: 600;
}

#cadastro-publi>form {
    width: 100%;
}

#cadastro-publi>form>textarea {
    width: 100%;
    height: 80px;
    background-color: var(--cor-branco);
    resize: none;
    padding: 10px;
    color: var(--cor-cinza-escuro);
    font-size: var(--tamanho-fonte-sm);

}

#cadastro-publi>form>textarea::placeholder {
    color: var(--cor-marrom-claro);
}

#cadastro-publi>form>footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.formulario-botao-azul {
    width: 100%;
    max-width: 135px;
    background-color: var(--cor-verde);
    color: var(--cor-branco);
    border: none;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;

}

.formulario-botao-azul:hover {
    background-color: var(--cor-cinza-escuro);
}

/* SEÇÃO PUBLICAÇÕES */
#publicacoes {

    width: 100%;
    min-height: 600px;
    border-radius: var(--borda-arredondamento);
    padding: 10px;
}

.card-publi {
    width: 100%;
    background-color: var(--cor-branco);
}

.card-publi>header {
    display: flex;
    align-items: center;
    padding: 1%;
}

.card-publi>header>a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--cor-cinza-escuro);
    font-weight: 500;
}

.card-publi>figure {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.imagem-publicacao {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 500px;
}

.descricao-publicacao {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--tamanho-fonte-md);
    font-weight: 500;
    margin: 0 3%;
    color: var(--cor-cinza-escuro);
    order: 2;
    flex-wrap: wrap;
}

.descricao-publicacao>p {
    font-size: var(--tamanho-fonte-sm);
    font-weight: 400;
    color: var(--cor-cinza-escuro);
}

.interacoes-publicacao {

    width: 87px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    order: 1;
    margin: 15px 3%;
}

.interacoes-publicacao>button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.interacoes-publicacao>button>img {}

.interacoes-publicacao>button>span {
    font-size: var(--tamanho-fonte-sm);
    font-weight: 500;
    color: var(--cor-verde)
}

.card-publi>button {
    margin: 15PX 3%;
    background-color: transparent;
    border: none;

    font-size:var(--cor-marrom-claro) ;
    font-weight: 400;
    color: var(--cor-cinza-escuro);

    cursor: pointer;
}
